{% extends 'base.html.twig' %}

{% block title %}Rujukan index{% endblock %}

{% block body %}
    <h1>Rujukan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nama</th>
                <th>Template</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rujukan in rujukans %}
            <tr>
                <td>{{ rujukan.id }}</td>
                <td>{{ rujukan.nama }}</td>
                <td>{{ rujukan.template }}</td>
                <td>
                    <a href="{{ path('app_rujukan_show', {'id': rujukan.id}) }}">show</a>
                    <a href="{{ path('app_rujukan_edit', {'id': rujukan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rujukan_new') }}">Create new</a>
{% endblock %}
