{% extends 'base.html.twig' %}

{% block title %}Rekod index{% endblock %}

{% block body %}
    <h1>Rekod index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nama</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rekod in rekods %}
            <tr>
                <td>{{ rekod.id }}</td>
                <td>{{ rekod.nama }}</td>
                <td>{{ rekod.createdAt ? rekod.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_rekod_show', {'id': rekod.id}) }}">show</a>
                    <a href="{{ path('app_rekod_edit', {'id': rekod.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rekod_new') }}">Create new</a>
{% endblock %}
